<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: head">
    </head>
    <body>
        <div th:include="layout :: navigationPanel"></div>
        <h1>Lista użytkowników:</h1>

        <table style="width:50%; border:1px solid black">
            <tr>
                <th>UserID</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Login</th>
                <th>Zaszyfrowane hasło</th>
            </tr>
            <th:block th:each="user, status : ${users}">
                <tr>
                    <td th:text="${user.userid}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.surname}"></td>
                    <td th:text="${user.login}"></td>
                    <td th:text="${user.password}"></td>
                </tr>
            </th:block>
        </table>
        <div th:include="layout :: footer"></div>
    </body>
</html>
